.hero {
	display: flex;
	justify-content: space-between;
}

.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 40px;
	min-width: min-content;
	max-width: 640px;
}

.title h1 {
	color: #bf1e2e;
}

.heroimage {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.buttons {
	display: flex;
	gap: 20px;
	align-items: flex-end;
}

div.buttons > div > label > h2::after {
	display: none;
}