h3 {
	text-transform: uppercase;
	text-align: center;
}

.iconAll {
	position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.iconAll img {
	height: 9rem;
	width: auto;
}