.postlist {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.card {
	background-color: white;
	min-height: 192px;
	height: max-content;
	cursor: pointer;
	border-radius: 12px;
	border: 1px solid #cccccc;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	flex-basis: 20rem;
	-webkit-box-flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-direction: column;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	transition: all 0.2s ease-in-out 0s;
}

.card:hover {
	box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.card#allPostsLink {
	align-items: center;
	justify-content: center;
	position: relative;
	max-height: 100%;
	width: 100%;
}
