header {
	background-color: white;
	padding: 16px 40px;
	display: flex;
	justify-content: space-between;
}

header .org {
	color: #bf1e2e;
	font-family: "Oswald", sans-serif;
	font-size: 24px;
}

header .sub {
	color: #777777;
	font-size: 14px;
}

header nav {
	display: flex;
	gap: 16px;
}

header ul {
	display: flex;
}

header li {
	font-weight: 700;
}

header li a {
	color: #353a5d;
    padding: 16px;
	width: min-content;
	white-space: nowrap;
}

.buttons {
	display: flex;
	gap: 16px;
}