button {
	font-weight: 700;
	font-size: 16px;
	border-radius: 8px;
	padding: 16px 24px;
	cursor: pointer;
	width: min-content;
	height: min-content;
	white-space: nowrap;
}

.primary_button {
	background-color: #353a5d;
	color: white;
	border: 2px solid #353a5d;
}

.secondary_button {
	background-color: white;
	color: #353a5d;
	border: 2px solid #E8E8E8;
}